### Tuple:-
1. generally used in case of heterogeneous datatypes
2. Immutable = cannot change value
3. Initializing:- t=()

In [1]:
#initializing
t=()
print(t.__sizeof__())
print(type(t))

In [2]:
#example
t=(1,2,3,4)
print(t)
print(type(t))
print(t.__sizeof__())

In [3]:
#immutable 
#error dega
t[1]=8

TypeError: 'tuple' object does not support item assignment

In [ ]:
#heterogeneous
t=(1,2,3,'arzoo','yo')
print(t)

### Initializing methods

In [ ]:
t=()
print(t.__sizeof__())
print(type(t))

In [ ]:
a=1,2,3,4
print(a)
print(type(a))

#### Initializing 1 item

In [ ]:
a=1
print(a)
print(type(a))

In [ ]:
a=1,
print(a)
print(type(a))

### Accessing elements

In [ ]:
t=(1,2,3,4,5,6,7,8,9)
for i in t:
    print (i)
print(t)

### Magical function :-
The functions with __xyz__ . The others are normal functions.
Definition=Magic methods are not meant to be invoked directly by you, but the invocation happens internally from the class on a certain action.

In [ ]:
dir(tuple)

### index function:-
tells pos of ele

In [ ]:
t.index(2)

### making tuple using for loop:-
You cannot access tuple directly from print(tp) when making tuple this way.

In [ ]:
tp=(x for x in range(10))
print(tp)
for i in tp:
    print(i)

### Tuple comprehension

In [ ]:
#x does not print here directly. It must be assigned to variable 
#and then printed using for loop
(x for x in range(20) if x%2==0)

In [ ]:
t=(x for x in range(20) if x%2==0)
for i in t:
    print(i)

### copying tuple:-
Same memory will be alloted using tuple() or not BECASUE IMMUTABLE

In [ ]:
tp=(1,2,3,4,5,6)
print(id(tp))
copy_tp=tp
print(id(copy_tp))

In [4]:
tp=(1,2,3,4,5,6)
print(id(tp))
copy_tp=tuple(tp)
print(id(copy_tp))

1716449639776
1716449639776

### Converting list to tuple

In [5]:
t=(1,2,3,4,5,6)
l=list(t)
print(type(l))

<class 'list'>

## WAP to update elements of tuple

In [7]:
t=(1,2,3,4,5,6)
l=list(t)
l[1]=20
l[3]=30
l[4]=40
print(l)
t=tuple(l)
print(t)

[1, 20, 3, 30, 40, 6]
(1, 20, 3, 30, 40, 6)

### Slicing
1st value should always be smaller than the second value

In [10]:
t[0:4]

(1, 20, 3, 30)

## WAP to take first 3 ele of t1 and last 3 ele to t2 and add to t3

In [23]:
t1=(1,2,3,4,5,6)
t2=(11,12,13,14,15,16 )
t3=t1[0:3]+t2[-3:]
print(t3)
print(type(t3))

(1, 2, 3, 14, 15, 16)
<class 'tuple'>

In [19]:
print(t1[0:3])
print(t2[-3:-1])
print(t2[-3:])

(1, 2, 3)
(14, 15)
(14, 15, 16)

### Concatenation

In [24]:
print(t1*3)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

### Adding element to tuple (at the end)

In [26]:
#error dega
print(t1+10)

TypeError: can only concatenate tuple (not "int") to tuple

In [28]:
print(t1+(10,))

(1, 2, 3, 4, 5, 6, 10)

### unpacking tuple

In [30]:
new_t=(1,2,3,4)
a,b,c,d=new_t
print(a,b,c,d, sep=',')

1,2,3,4

In [36]:
new_t=(1,2,3,4)
a,b,c,d=new_t
a=b=c=d=10
print(a,b,c,d)
print(new_t)

10 10 10 10
(1, 2, 3, 4)