### .find()

### .format() function <--- another way to write
print(a,'+', b, '=',c)
its like-
printf(%d + %d = %d, a,b,c);

In [ ]:
a=1
b=2
c=a+b
print('{}+{}={}'.format(a,b,c))

In [ ]:
print('value of c is {x}\nvalue of a is {y}'.format(x=a,y=b))

In [ ]:
print('value of c is {c}\nvalue of a is {a}'.format(c,a))

In [ ]:
#error dega ye
print('value of c is {c}\nvalue of a is {a}'.format(c=c,a=a))

In [5]:
print('value of c is {0}\nvalue of a is {1}'.format(a,b))

value of c is 1
value of a is 2

In [4]:
a=1
b=2
c=a+b
print('value of c is {2}\nvalue of a is {0}\nvalue of a is {1}'.format(a,b,c))

value of c is 3
value of a is 1
value of a is 2

In [16]:
b=23348899875.1234567890
print('value of c is {0}\nvalue of a is {1:8.1f}'.format(a,b))

value of c is 1
value of a is                                             23348899875.1

In [15]:
x=875.1234567890
print('value of c is {0:4.2f}'.format(x))

value of c is 875.12

### .index() function
Right Index function

In [17]:
s='Techno India NJR'
s.index('i')

10

In [20]:
s='Techno India NJR'
s.rindex('n')

8

### .isalnum() function-
Returns True for numbers/alphabets/num+alpha
Returns False for anyhting else (like special symbols)

In [21]:
s='techno12'
s.isalnum()

True

In [22]:
s='techno'
s.isalnum()

True

In [23]:
s='234'
s.isalnum()

True

In [24]:
s='234***'
s.isalnum()

False

### .isalpha() function

In [26]:
str='Techno12'
str.isalpha()

False

### .isdigit() function

In [27]:
str='TEchno12'
str.isdigit()

False

### .isidentifier() function

In [30]:
str='if'
str.isidentifier()

True

In [31]:
str='if python'
str.isidentifier()

False

### .islower()

In [32]:
str='TEchno'
str.islower()

False

### .isupper()

In [33]:
str='TEchno'
str.isupper()

False

### .istitle() function
first letter of every words should be capital

In [35]:
str='Techno India Njr'
str.istitle()

True

### .join() function

In [2]:
s=' '
str='Techno India Njr'
s.join(str)

'T e c h n o   I n d i a   N j r'

### STRING REVERSE

In [8]:
s='hi how are you'
#iteration first
for i in range (len(s)-1,-1,-1):
    print(s[i],end='')

uoy era woh ih

In [11]:
s='hi how are you'
ns=''
#iteration first
for i in range (len(s)-1,-1,-1):
    #stores a rev string in ns
    ns=ns+s[i]
print(ns)

uoy era woh ih

# Palindrome

In [ ]:
s=input("Enter a string: ")
ns=""
for i in range (len(s)-1,-1,-1):
    ns=ns+s[i]
if ns==s:
    print("yes")
else:
    print("no")

# Find occurence of a given character in the given string

In [12]:
#given string
s='hello, good morning! how are you?'
#given character
k='o'
count=0
for i in s:
    if k==i:
        count+=1
print(count)

6

### enumerate(x)

In [13]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [11]:
stri='python'
for i in enumerate(stri):
    print(i)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [14]:
stri='python'
for i,e in enumerate(stri):
    print(i,' ',e)

0 p
1 y
2 t
3 h
4 o
5 n

In [6]:
mylist = ['A', 'B' ,'C', 'D']
e_list = enumerate(mylist,2)
print(list(e_list))

[(2, 'A'), (3, 'B'), (4, 'C'), (5, 'D')]